@model PagedList.IPagedList<OnlineOrdersConnection.Frame>
@using PagedList.Mvc
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="header_text sub">
    <img class="pageBanner" src="~/Asset/themes/images/pageBanner.png" alt="New products">
    <h4><span>New products</span></h4>
</section>
<section class="main-content">

    <div class="row">
        <div class="span9">
            <ul class="thumbnails listing-products">
                @foreach (var item in Model)
                {
                    <li class="span3">
                        <div class="product-box">
                            <span class="sale_tag"></span>
                            <a href="@Url.Action("Details","Products",new { id = @item.Id })"><img alt="" src="~/Asset/themes/images/imgFrames/@item.Image_1"></a><br />
                            <a href="@Url.Action("Details","Products",new { id = @item.Id })" class="title">@item.Frames</a><br />
                            <a href="#" class="category">Phasellus consequat</a>
                            <p class="price">@item.Price</p>
                        </div>
                    </li>
                }
            </ul>
            <hr>
            <div class="pagination pagination-small pagination-centered">
                <ul>
                    @Html.PagedListPager(Model, page => Url.Action("SearchResult", "Search", new { page }))
                </ul>
            </div>
        </div>
        <div class="span3 col">
            @Html.Partial("_SubCategories", OnlineOrder.Models.BUS.ProductTypesBUS.ListProduct())
            @Html.Partial("_RandomizeProducts", OnlineOrder.Models.BUS.OnlineOrdersBUS.RandomizeProduct())
            @Html.Partial("_BestSellerProducts", OnlineOrder.Models.BUS.OnlineOrdersBUS.TopHotProduct())
        </div>
    </div>
</section>
<title>MyImage | Products</title>

