@model IEnumerable<OnlineOrdersConnection.Blog>

<div class="row">
    <div class="span12">
        <h4 class="title">
            <span class="pull-left"><span class="text"><span class="line">What's <strong>Happening</strong></span></span></span>
            <span class="pull-right">
                <a class="left button" href="#myCarousel-3" data-slide="prev"></a><a class="right button" href="#myCarousel-3" data-slide="next"></a>
            </span>
        </h4>
        <div id="myCarousel-3" class="myCarousel carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <ul class="thumbnails">
                        @foreach (var item in Model)
                        {
                            <li class="span3">
                                <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <p><a href="@Url.Action("Details","Blogs",new {id = item.Id })"><img src="~/Asset/themes/images/imgBlogs/@item.Image" alt="" /></a></p>
                                    <a href="@Url.Action("Details","Blogs",new {id = item.Id })" class="title">@item.Title</a><br />
                                    <span class="category">@item.Summary</span>
                                    <br /><a href="@Url.Action("Details","Blogs",new {id = item.Id })" class="category">Read more...</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="item">
                    <ul class="thumbnails">
                        @foreach (var item in Model)
                        {
                            <li class="span3">
                                <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <p><a href="@Url.Action("Details","Blogs",new {id = item.Id })"><img src="~/Asset/themes/images/imgBlogs/@item.Image" alt="" /></a></p>
                                    <a href="@Url.Action("Details","Blogs",new {id = item.Id })" class="title">@item.Title</a><br />
                                    <span class="category">@item.Summary</span>
                                    <br /><a href="@Url.Action("Details","Blogs",new {id = item.Id })" class="category">Read more...</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
