@model OnlineOrdersConnection.Blog
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="header_text sub">
    <img class="pageBanner" src="~/Asset/themes/images/pageBanner.png" alt="New products">
    <h4><span>@Model.Title</span></h4>
</section>
<section class="main-content">
    <div class="row">
        <div class="span9">
            <div class="row">
                <div class="span9">
                    <img src="~/Asset/themes/images/imgBlogs/@Model.Image" style="float: right; width:400px;height:400px;" />
                    <div class="tab-content">@Model.Content</div><br />
                </div>
                <div class="span9">
                    <br>
                    @Html.Partial("_RelatedProducts", OnlineOrder.Models.BUS.OnlineOrdersBUS.RelatedProduct())
                </div>
            </div>
        </div>
        <div class="span3 col">
            @Html.Partial("_SubCategories", OnlineOrder.Models.BUS.ProductTypesBUS.ListProduct())
            @Html.Partial("_RandomizeProducts", OnlineOrder.Models.BUS.OnlineOrdersBUS.RandomizeProduct())
            @Html.Partial("_BestSellerProducts", OnlineOrder.Models.BUS.OnlineOrdersBUS.TopHotProduct())
        </div>
    </div>
</section>

<title>MyImage | Blog</title>

