@model OnlineOrder.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "title", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="control-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xlarge" })
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-inverse large" value="Register" />
        </div>
    </div>
}
<title>MyImage | Register</title>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
