@model IEnumerable<OnlineOrdersConnection.Frame>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="panel-title">List Frame Types</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Frames</th>
                                <th>Price</th>
                                <th>Image_1</th>
                                <th>FrameTypeId</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Frames
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    <img src="~/Asset/themes/images/imgFrames/@item.Image_1" style="width:50px; height:50px;" alt="Alternate Text" />
                                </td>
                                <td>
                                    @item.FrameTypeId
                                </td>
                                <td>
                                    @item.Status
                                </td>
                                <td>
                                    <form action="" method="POST" class="form-inline" role="form">
                                        <a href="@Url.Action("Edit","Frames",new { id = @item.Id})">
                                            <i class="btn btn-xs btn-danger fa fa-edit"></i>
                                        </a>
                                        <a href="@Url.Action("TemporaryDelete","Frames",new { id = @item.Id})">
                                            <i class="btn btn-xs btn-warning fa fa-trash"></i>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                    </div>
                    <div class="text-center">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

